language: python
python:
  - "2.7"
addons:
 apt:
   packages:
   - protobuf-compiler
   - protobuf-c-compiler
   - python-protobuf
install:
  - pip install -r requirements.txt
  - pip install pylint
script: "python pylint-recursive.py"
