{
    "auth_service": "google",
    "username": "YOURACCOUNT@gmail.com",
    "password": "YOURPASSWORD",
    "location": "SOME LOCATION",
    "gmapkey": "AGMAPAPIKEY",
    "max_steps": 5,
    "mode": "all",
    "walk": 4.16,
    "debug": false,
    "test": false,
    "initial_transfer": 0,
    "location_cache": true,
    "distance_unit": "km",
    "item_filter": "101,102,103,104",
    "evolve_all": "NONE"
}
