{
    "auth_service": "google",
    "username": "example@gmail.com",
    "password": "password11!!",
    "location": "New York",
	"cp": "100",
	"gmapkey": "None",
	"maxsteps": "100",
	"spinstop": "False",
	"walk": "4.16",
	"debug": "False",
	"test": "False"
}
