{
	"any": {
		"min_cp": 0,
		"iv_min_stamina": 8,
		"iv_min_attack": 10,
		"iv_min_defense": 8
	},
	
	"Magikarp"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
	
	"Eevee"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
	
	"Bulbasaur"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
	
	"Charmander"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
	
	"Squirtle"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
	
	"Pinsir"{
		"min_cp": 0,
		"iv_min_stamina": 10,
		"iv_min_attack": 10,
		"iv_min_defense": 10
	},
}