{
    "any": {
        "release_under_cp": 400,
        "release_under_iv": 0.9,
        "cp_iv_logic": "and"
    },

    "Bulbasaur":    { "release_under_cp": 374, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Ivysaur":      { "release_under_cp": 571, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Venusaur":     { "release_under_cp": 902, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Charmander":   { "release_under_cp": 333, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Charmeleon":   { "release_under_cp": 544, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Charizard":    { "release_under_cp": 909, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Squirtle":     { "release_under_cp": 352, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Wartortle":    { "release_under_cp": 552, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Blastoise":    { "release_under_cp": 888, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Caterpie":     { "release_under_cp": 156, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Metapod":      { "release_under_cp": 168, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Butterfree":   { "release_under_cp": 508, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Weedle":       { "release_under_cp": 156, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kakuna":       { "release_under_cp": 170, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Beedrill":     { "release_under_cp": 504, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Pidgey":       { "release_under_cp": 237, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Pidgeotto":    { "release_under_cp": 427, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Pidgeot":      { "release_under_cp": 729, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Rattata":      { "release_under_cp": 204, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Raticate":     { "release_under_cp": 504, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Spearow":      { "release_under_cp": 240, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Fearow":       { "release_under_cp": 609, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Ekans":        { "release_under_cp": 288, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Arbok":        { "release_under_cp": 616, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Pikachu":      { "release_under_cp": 309, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Raichu":       { "release_under_cp": 708, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Sandshrew":    { "release_under_cp": 278, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Sandslash":    { "release_under_cp": 631, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidoran F":    { "release_under_cp": 304, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidorina":     { "release_under_cp": 489, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidoqueen":    { "release_under_cp": 868, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidoran M":    { "release_under_cp": 295, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidorino":     { "release_under_cp": 480, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Nidoking":     { "release_under_cp": 864, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Clefairy":     { "release_under_cp": 420, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Clefable":     { "release_under_cp": 837, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Vulpix":       { "release_under_cp": 290, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Ninetales":    { "release_under_cp": 763, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Jigglypuff":   { "release_under_cp": 321, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Wigglytuff":   { "release_under_cp": 760, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Zubat":        { "release_under_cp": 225, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Golbat":       { "release_under_cp": 672, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Oddish":       { "release_under_cp": 400, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Gloom":        { "release_under_cp": 590, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Vileplume":    { "release_under_cp": 871, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Paras":        { "release_under_cp": 319, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Parasect":     { "release_under_cp": 609, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Venonat":      { "release_under_cp": 360, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Venomoth":     { "release_under_cp": 660, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Diglett":      { "release_under_cp": 158, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dugtrio":      { "release_under_cp": 408, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Meowth":       { "release_under_cp": 264, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Persian":      { "release_under_cp": 568, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Psyduck":      { "release_under_cp": 386, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Golduck":      { "release_under_cp": 832, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Mankey":       { "release_under_cp": 307, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Primeape":     { "release_under_cp": 650, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Growlithe":    { "release_under_cp": 465, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Arcanine":     { "release_under_cp": 1041, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Poliwag":      { "release_under_cp": 278, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Poliwhirl":    { "release_under_cp": 468, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Poliwrath":    { "release_under_cp": 876, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Abra":         { "release_under_cp": 208, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kadabra":      { "release_under_cp": 396, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Alakazam":     { "release_under_cp": 633, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Machop":       { "release_under_cp": 381, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Machoke":      { "release_under_cp": 614, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Machamp":      { "release_under_cp": 907, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Bellsprout":   { "release_under_cp": 391, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Weepinbell":   { "release_under_cp": 602, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Victreebel":   { "release_under_cp": 883, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Tentacool":    { "release_under_cp": 316, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Tentacruel":   { "release_under_cp": 775, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Geodude":      { "release_under_cp": 297, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Graveler":     { "release_under_cp": 501, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Golem":        { "release_under_cp": 804, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Ponyta":       { "release_under_cp": 530, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Rapidash":     { "release_under_cp": 768, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Slowpoke":     { "release_under_cp": 424, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Slowbro":      { "release_under_cp": 907, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Magnemite":    { "release_under_cp": 312, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Magneton":     { "release_under_cp": 657, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Farfetch'd":   { "release_under_cp": 441, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Doduo":        { "release_under_cp": 297, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dodrio":       { "release_under_cp": 640, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Seel":         { "release_under_cp": 386, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dewgong":      { "release_under_cp": 748, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Grimer":       { "release_under_cp": 448, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Muk":          { "release_under_cp": 909, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Shellder":     { "release_under_cp": 288, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Cloyster":     { "release_under_cp": 717, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Gastly":       { "release_under_cp": 280, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Haunter":      { "release_under_cp": 482, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Gengar":       { "release_under_cp": 724, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Onix":         { "release_under_cp": 300, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Drowzee":      { "release_under_cp": 374, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Hypno":        { "release_under_cp": 763, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Krabby":       { "release_under_cp": 276, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kingler":      { "release_under_cp": 636, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Voltorb":      { "release_under_cp": 292, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Electrode":    { "release_under_cp": 576, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Exeggcute":    { "release_under_cp": 384, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Exeggutor":    { "release_under_cp": 1032, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Cubone":       { "release_under_cp": 352, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Marowak":      { "release_under_cp": 578, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Hitmonlee":    { "release_under_cp": 520, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Hitmonchan":   { "release_under_cp": 530, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Lickitung":    { "release_under_cp": 568, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Koffing":      { "release_under_cp": 403, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Weezing":      { "release_under_cp": 784, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Rhyhorn":      { "release_under_cp": 412, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Rhydon":       { "release_under_cp": 782, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Chansey":      { "release_under_cp": 235, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Tangela":      { "release_under_cp": 607, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kangaskhan":   { "release_under_cp": 712, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Horsea":       { "release_under_cp": 278, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Seadra":       { "release_under_cp": 597, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Goldeen":      { "release_under_cp": 336, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Seaking":      { "release_under_cp": 712, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Staryu":       { "release_under_cp": 326, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Starmie":      { "release_under_cp": 763, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Mr. Mime":     { "release_under_cp": 520, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Scyther":      { "release_under_cp": 724, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Jynx":         { "release_under_cp": 600, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Electabuzz":   { "release_under_cp": 739, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Magmar":       { "release_under_cp": 792, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Pinsir":       { "release_under_cp": 741, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Tauros":       { "release_under_cp": 643, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Magikarp":     { "release_under_cp": 91, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Gyarados":     { "release_under_cp": 938, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Lapras":       { "release_under_cp": 1041, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Ditto":        { "release_under_cp": 321, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Eevee":        { "release_under_cp": 376, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Vaporeon":     { "release_under_cp": 984, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Jolteon":      { "release_under_cp": 746, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Flareon":      { "release_under_cp": 924, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Porygon":      { "release_under_cp": 590, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Omanyte":      { "release_under_cp": 391, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Omastar":      { "release_under_cp": 780, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kabuto":       { "release_under_cp": 386, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Kabutops":     { "release_under_cp": 744, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Aerodactyl":   { "release_under_cp": 756, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Snorlax":      { "release_under_cp": 1087, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Articuno":     { "release_under_cp": 1039, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Zapdos":       { "release_under_cp": 1087, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Moltres":      { "release_under_cp": 1132, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dratini":      { "release_under_cp": 343, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dragonair":    { "release_under_cp": 609, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Dragonite":    { "release_under_cp": 1221, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Mewtwo":       { "release_under_cp": 1447, "release_under_iv": 0.8, "cp_iv_logic": "and" },
    "Mew":          { "release_under_cp": 1152, "release_under_iv": 0.8, "cp_iv_logic": "and" },

    "exceptions": {
        "always_capture": [
            "Arcanine",
            "Lapras",
            "Dragonite",
            "Snorlax",
            "Blastoise",
            "Moltres",
            "Articuno",
            "Zapdos",
            "Mew",
            "Mewtwo"
        ]
    }
}
