-e git+https://github.com/tejado/pgoapi.git@1f25e907f3e5f1b603330e71041e1ad7bee7580f#egg=pgoapi
geopy==1.11.0
protobuf==3.0.0b4
requests==2.10.0
s2sphere==0.2.4
gpsoauth==0.3.0
protobuf-to-dict==0.1.0
googlemaps==2.4.4
colorama==0.3.7
enum34==1.1.6
pyyaml==3.11
