{
	"tasks": [
		{
			"type": "PokemonOptimizer",
			"config": {
				"enabled": true,
				"min_slots_left": 5,
				"transfer": true,
				"transfer_wait_min": 3,
				"transfer_wait_max": 5,
				"evolve": true,
				"evolve_time": 25,
				"evolve_for_xp": true,
				"evolve_only_with_lucky_egg": false,
				"evolve_count_for_lucky_egg": 80,
				"may_use_lucky_egg": true,
				"upgrade": true,
				"upgrade_level": 60,
				"groups": {
					"gym": ["Dragonite", "Snorlax", "Lapras", "Arcanine"]
				},
				"keep": [
					{
						"mode": "by_family",
						"top": 1,
						"sort": [{"iv": 0.9}],
						"evolve": true,
						"upgrade": false
					},
					{
						"mode": "by_family",
						"top": 1,
						"sort": [{"ncp": 0.9}],
						"evolve": true,
						"upgrade": false
					},
					{
						"mode": "by_family",
						"top": 1,
						"sort": ["cp"],
						"evolve": false,
						"upgrade": false
					},
					{
						"mode": "by_family",
						"names": ["gym"],
						"top": 3,
						"sort": [{"iv": 0.9}, {"ncp": 0.9}],
						"evolve": true,
						"upgrade": true
					}
				]
			}
		}
	]
}
