{
    "tasks": [
        {
            "type": "PokemonHunter",
            "config": {
                "enabled": true,
                "max_distance": 1500,
                "hunt_all": false,
                "hunt_vip": true,
                "hunt_pokedex": true,
                "lock_on_target": false
            }
        },
        {
            "type": "MoveToFort",
            "config": {
                "enabled": true,
                "lure_attraction": true,
                "lure_max_distance": 300,
                "ignore_item_count": true,
                "walker": "PolylineWalker",
                "log_interval": 5
            }
        }
    ]
}
