{
	"Threads": "set it to (account number / 2)",
	"Threads": 2,
	"HashKeyFile": "MultiBotConfigHashkey.txt",
	"UseProxy": false,
	"ProxyFile": "MultiBotConfigProxy.txt",
	"AccountRunOrder": "set to true to run accounts in random order",
	"AccountRunOrder": true,
	"AccountsFile": "MultiBotConfigAccounts.txt",
	"AuthJsonFile": "auth.json",
	"ConfigJsonFile": "config.json",
	"CompleteTutorialNickName": "set to true to use login as username",
	"CompleteTutorialNickName": true,
	"TelegramTask": "should be false or Telegram maybe crash the bot",
	"TelegramTask": false,
	"WebSocket": {
		"start_embedded_server": false,
		"IP": "127.0.0.1",
		"Port": 4000
	},
	"walker_limit_output": "set to true to reduce spam in console",
	"walker_limit_output": true
}
