html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}
#menu {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 5;
	height: auto;
	width: 180px;
}
#submenu {
	position: fixed;
	left: 50%;
	top: 10px;
    transform: translate(-50%, 0);
	width: 50%;
	z-index: 6;
	display: none;
}
#close {
	float: right;
	font-size: 32px;
	cursor: pointer;
	line-height: 48px;
}
.items {
	overflow-y: scroll;
	height: 80vh; 
}
.item_img {
	width: 75px;
	height: auto;
}
.gif_img {
	width: 38px;
	height: auto;
}
.png_img {
	width: 96px;
	height: auto;
}
.navButton {
	position: relative;
	top: -30px;
	right: -30px;
}
.row {
	margin-bottom: 0;
}
.collapsible-body a {
	width: 100%;
}

#optionsList {
}
#trainerList {
	display: none;
}
.collapsible-body {
	background: #FFF;
	padding: 1em;
}
.card .card-content {
    padding: 10px 20px 20px 20px;
}
.collapsible-title {
	display: block;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.collapsible-title i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}