html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
}
#options {
	position: fixed;
	right: 10px;
	top: 10px;
	width: auto;
	height: auto;
	z-index: 5;
	background-color: #ffffff;
	padding-right: 20px;
}