html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.trainer_card {
	display: none;
}
#map {
	height: 100%;
}
#menu {
	position: fixed;
	right: 3em;
	top: 10px;
	z-index: 5;
	height: auto;
	width: auto;
}
#submenu {
	position: fixed;
	left: 20px;
	top: 30%;
	max-height: 400px;
	width: 50%;
	z-index: 6;
	display: none;
}
.items {
	max-height: 350px !important;
	overflow-y: scroll;
}
.item_img {
	width: 75px;
	height: auto;
}
.gif_img {
	width: 38px;
	height: auto;
}
.png_img {
	width: 96px;
	height: auto;
}